body{
    background-image: url('../../../public/dist/images/norwayBackground.jpg');
    background-size: cover;
    background-position: center;
    color: white;

    font-family: 'Roboto', sans-serif;

}

.overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: .6;
}

.dashBoard{
    height: 100vh;
    width: 100vw;
    margin: 0;
}