.header{
    height: 17.5%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
    .currentTimeContainer{
        box-sizing: border-box;
        height: 100%;
        width: 25%;
        padding: 2% 0 0 2%;
        text-align: left;
        line-height: 1.2;

        .time{
            font-size: 35px;
        }

        .day{
            font-size: 22.5px;
        }

        .date{
            font-size:  18px;
        }
    }

    .agendaContainer{
        box-sizing: border-box;
        width: 75%;
        height: 100%;
        padding: 1%;
        
        .agendaToday{
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

            .eventContainer{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 17.5%;
                height: 100%;
                margin: 0 1%;
                border-top: solid white 1px;
                text-align: center;

            }
        }
    }

}