.header{
    height: 15%;
    width: 100%;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    padding: .5%;
    .currentTimeContainer{
        display: flex;
        height: 100%;
        width: 25%;
        background-color: darkred;
        span{
            margin: auto;
        }
    }

    .agendaContainer{
        width: 75%;
        height: 100%;
        
        .agendaToday{
        height: 100%;
        width: 100%;
        background-color: crimson;
        display: flex;

            .eventContainer{
                width: 15%;
                margin: 0 1%;
            }
        }
    }

}