.center{
    background-color: burlywood;
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .quoteContainer{
        display: flex;
        padding: 3%;
        height: 35%;
        width: 85%;
        background-color: beige;
        text-align: center;

        .quote{
            margin: auto;
        }

    }

    .feedContainer{
        height: 80%;
        width: 40%;
        background-color: lightgreen;
    }

    .socialInfoContainer{
        position: relative;
        height: 80%;
        width: 80%;
        background-color: green;
        .socialImage{
            height: 50%;
        }

        .totalSubscribersContainer{
            position: absolute;
            top: 50%;
        }
    }
}